.slider_section {
  height: 950px;
  position: relative;
}
.single_slider {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 738px;
}
.slider_content{
  position: absolute; 
  top: 20%;
  left: 20%;
}
.slider_content a {
  font-size: 15px;
  font-weight: 500;
  padding: 0 45px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 30px;
  height: 65px;
  line-height: 65px;
  background: inherit;
  margin-top: 46px;
  color: #fff;
  background: #222222;
}
.slider_content a:hover {
  background: #79a206;
}
.slider_content h1 {
  font-size: 90px;
  line-height: 90px;
  font-weight: 500;
  margin-bottom: 33px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.desc {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  border: 0 !important;
  display: inline !important;
}
.slider_content span {
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  width: 120px;
  display: inline-block;
  margin-bottom: 75px;
  border-left: 2px solid #000000;
  padding-left: 8px;
}
